.board-search-input{
    position: absolute;
    height: 30px;
    width: 250px;
    left: 1050px;
    top: -45px;
    border-radius: 24px;
    background: #F0F3F6;
    border: none;
}
.board-search-icon{
    position: absolute;
    left: 1060px;
    top: -35px;
    color: #939598;
}
