
.board-search {
    position: relative;
}
.board-search-input{
    position: absolute;
    height: 30px;
    width: 250px;
    left: -60px;
    top: -20px;
    border-radius: 24px;
    background: #F0F3F6;
    border: none;
    color: #c5c5c5;
    font-family: Source Sans Pro;
    font-size: 14px;
    height: 40.2px;
    outline: none;
    font-style: italic;
    padding-left: 42px;
}
.board-search-icon {
    color: #c9c4c0;
    font-size: 20px;
    left: -50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
.board-search-input:focus {
    color: #373839;
}
