.user-logo{
    position: absolute;
    left: 80.33%;
    right: 8.33%;
    top: 6.33%;
    bottom: 8.33%;
}
.user-name{
    position: absolute;
    left: 83.35%;
    right: 8.33%;
    top: 4.98%;
    bottom: 8.33%;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.015em;

    /* /Orange / 7 */

    color: #373839;
}
.logout{
    position: absolute;
    left: 86.35%;
    top: 7.25%;
    bottom: 8.33%;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;

    color: #FF7506;
}