.login {
  background: url("../Assets/LoginBackground.png") no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
}

.form {
  min-width: 430px;
  min-height: 360px;
  position: absolute;
  left: 66.41%;
  right: 12.19%;
  top: 23.98%;
}

.login .logo {
  position: absolute;
  top: 29px;
  right: 64px;
}

.form-title {
  font-family: Mulish;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.015em;
  text-align: center;
  margin-bottom: 80px;
}

.form-group {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-group + .form-group {
  margin-top: 24px;
  margin-bottom: 16px;
}

.form-label {
  margin-bottom: 8px;
  font-family: Mulish;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0.015em;
}

.form-control {
  height: 52px;
  border-radius: 8px;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  padding-left: 42px;
  font-family: Source Sans Pro;
  font-size: 16px;
}

.form-icon {
  position: absolute;
  top: 46px;
  left: 15px;
  color: #c5c5c5;
  font-size: 20.5px;
}

.form-option {
  font-family: Source Sans Pro;
  font-size: 16px;
  line-height: 130%;
  color: #ff7506;
  display: flex;
  justify-content: end;
  margin-bottom: 28px;
  text-decoration: none;
  align-items: center;
}

.form-submit {
  background: linear-gradient(270deg, #ff5400 0%, #f17f21 80.56%);
  border: none;
  border-radius: 8px;
  height: 52px;
  width: 430px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-family: Mulish;
  cursor: pointer;
}

.btn-login {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-submit.update-password {
  background: #c9c4c0;
}

#confirm-code {
  padding-left: 16px;
}
